body{
    background-color: rgb(5, 182, 182);
}
.bottomrec{
    height: 30px;
    width: 100px;
    color: rgb(100, 68, 26);
}
.bottomaboverec{
    bottom: 30px;
    height: 15px;
    width: 100px;
    color: rgb(68, 231, 53);
}
.treerec{
    width: 8px;
    height: 20px;
    color: rgb(90, 43, 21);
    left: 30px;
    bottom: 45px;
}
.branchc1{
    height: 5px;
    width: 5px;
    border-radius: 5px;
    left: 30px;
    bottom: 65px;
    color: rgb(68, 231, 53);
}
.branchc2{
    height: 5px;
    width: 5px;
    border-radius: 5px;
    left: 25px;
    bottom: 65px;
    color: rgb(68, 231, 53);
}
.branchc3{
    height: 5px;
    width: 5px;
    border-radius: 5px;
    left: 35px;
    bottom: 65px;
    color: rgb(68, 231, 53);
}
.branchc4{
    height: 5px;
    width: 5px;
    border-radius: 5px;
    left: 30px;
    bottom: 70px;
    color: rgb(68, 231, 53);
}
.rightc1{
    height: 5px;
    width: 5px;
    border-radius: 5px;
    bottom: 42px;
    right: 15px;
    color: rgb(68, 231, 53);
}
.rightc2{
    height: 5px;
    width: 5px;
    border-radius: 5px;
    bottom: 47px;
    right: 15px;
    color: rgb(68, 231, 53);
}